<section class="contacto">
    <div class="row mb-3">
      <hr>
      <div class="col-md-5">
        <div class="form-group">
          <label for="contacto">Nombre</label>
          <input type="text" class="form-control" id="contacto" placeholder="Nombre del contacto">
        </div>
      </div>
      <div class="col-md-5">
        <div class="form-group">
          <label for="cargo">Cargo</label>
          <input type="text" class="form-control" id="cargo" placeholder="Cargo">
        </div>
      </div>
      <div class="col-md-5">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" placeholder="nombre@email.com">
        </div>
      </div>
      <div class="col-md-5">
        <div class="form-group">
          <label for="telefono">Teléfono</label>
          <input type="phone" class="form-control" id="telefono" placeholder="+5691234567">
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <br>
          <button type="button" class="btn btn-primary btn-sm" id="boton-clonar">+</button>
        </div>
      </div>
    </div>
  </section><!-- /.contacto -->
  