<div class="col-md-12">
    <div class="form-group mb-3">
      <label for="nombre-programa">Nombre del programa</label>
      <input type="text" class="form-control" id="nombre-programa" placeholder="Ingrese el nombre del programa">
    </div>
    <div class="form-group mb-3">
      <label for="cliente">Cliente</label>
      <select class="form-control" id="cliente">
        {% for client in site.data.clientes %}
          <option value="{{ client.nombre }}">{{ client.nombre }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group mb-3">
      <label for="contraparte">Nombre de la contraparte del cliente</label>
      <input type="text" class="form-control" id="contraparte" placeholder="Ingrese el nombre de la contraparte del cliente">
    </div>
    <button type="button" class="btn btn-primary" id="btn-etapa-1">Siguiente</button>
  </div>
  