---
layout: default
title: Crear ciclo del proyecto
permalink: /proyectos/ciclo-crear
section: proyecto-ciclo-crear
---
<!-- ¿Porque parte en la "etapa 2"? porque se toma como referencia la creacion del proyecto inicial -->
<div class="row" id="ciclo-etapa-2">
	<h2>Configurar ciclo</h2>
	<hr class="mt-2 mb-4">
	{% include proyectos/proyecto-crear-etapa-2.html %}
</div>
<div class="row" id="ciclo-etapa-3" style="display:none;">
	<h2>Crear encuesta</h2>
	<hr class="mt-2 mb-4">
	{% include proyectos/proyecto-crear-etapa-3.html %}
</div>
<div class="row" id="ciclo-etapa-4" style="display:none;">
	{% include proyectos/proyecto-crear-etapa-4.html %}
</div>