<div class="col-md-12">
    <h3>Carga Jefe de Proyecto</h3>
    <div class="form-group mb-3">
      <label for="nombre-jefe-proyecto">Nombre</label>
      <input type="text" class="form-control" id="nombre-jefe-proyecto" placeholder="Ingrese el nombre del jefe de proyecto">
    </div>
    <div class="form-group mb-3">
      <label for="rut-jefe-proyecto">Rut</label>
      <input type="text" class="form-control" id="rut-jefe-proyecto" placeholder="Ingrese el rut del jefe de proyecto">
    </div>
    <div class="form-group mb-4">
      <label for="email-jefe-proyecto">Email</label>
      <input type="email" class="form-control" id="email-jefe-proyecto" placeholder="Ingrese el email del jefe de proyecto">
    </div>
    <h3>Carga de Evaluados</h3>
    <p>Ver formato de ejemplo para crear usuarios Evaluados</p>
    <div class="form-group mb-4">
      <input type="file" class="form-control-file" id="archivo-evaluados" />
    </div>
    <h3>Carga de Evaluadores</h3>
    <p>Ver formato de ejemplo para crear usuarios Evaluadores</p>
    <div class="form-group mb-4">
      <input type="file" class="form-control-file" id="archivo-evaluadores">
    </div>
    <button type="button" class="btn btn-primary" id="btn-etapa-2">Siguiente</button>
  </div>
  