<div class="col-md-12">
	<h3>Carga de Roles del proyecto</h3>
	<section class="encargado">
		<div class="row mb-3">
			<div class="col-md-5">
				<div class="form-group">
					<label for="encargado">Encargado</label>
					<select class="form-control" id="encargado">
						<option>Seleccione Encargado</option>
						{% for encargado in site.data.clientes_encargados %}
						<option value="{{ encargado.id }}">{{ encargado.nombre }}</option>
						{% endfor %}
					</select>
				</div>
			</div>
			<div class="col-md-5">
				<div class="form-group">
					<label for="rol">Seleccione Rol</label>
					<select class="form-control" id="rol">
						<option>Seleccione ROL</option>
						{% for rol in site.data.roles %}
						<option value="{{ rol.id }}">{{ rol.nombre }}</option>
						{% endfor %}
					</select>
				</div>
			</div>
			<div class="col-md-2">
				<div class="form-group">
					<br>
					<button type="button" class="btn btn-primary btn-sm" id="boton-clonar">+</button>
				</div>
			</div>
		</div>
	</section><!-- /.encargado -->

	<hr class="mt-5 mb-4">
	<h3>Carga de Evaluados</h3>
	<p>
		<a href="https://docs.google.com/spreadsheets/d/1o2Jjbvi0_NptQBvrXaDfwVSriGyXOaBy5V-nBnoE7_I/edit#gid=180513212" target="_blank">
			Ver formato de ejemplo para crear usuarios Evaluados
		</a>
	</p>
	<div class="form-group mb-4">
		<input type="file" class="form-control-file" id="archivo-evaluados" />
	</div>

	<hr class="mt-5 mb-4">
	<h3>Carga de Evaluadores</h3>
	<p>
		<a href="https://docs.google.com/spreadsheets/d/1o2Jjbvi0_NptQBvrXaDfwVSriGyXOaBy5V-nBnoE7_I/edit#gid=0" target="_blank">
			Ver formato de ejemplo para crear usuarios Evaluadores
		</a>
	</p>
	<div class="form-group mb-4">
		<input type="file" class="form-control-file" id="archivo-evaluadores">
	</div>

	<hr class="mt-5 mb-4">
	<button type="button" class="btn btn-primary" id="btn-etapa-2">Siguiente</button>
</div>