<div class="col-md-12">
	<div class="form-group">
		<label for="encuesta">Crear la encuesta</label>
		<input type="text" class="form-control" id="encuesta" placeholder="Ingrese la pregunta">
		<hr>
	</div>
	<div class="form-group no-seleccionados">
		<div class="row">
			{% for pregunta in site.data.diccionario_conductas %}
			<div class="card float-start ms-2 mb-2 mt-2 zoom caja-pregunta" style="width: 18rem;">
				<div class="card-body">
					<h5 class="card-title">{{ pregunta.nombre }}</h5>
					<h6 class="card-subtitle mb-2 text-muted">{{ pregunta.pregunta_para_evaluado }}</h6>
					<p class="card-text">{{ pregunta.pregunta_para_evaluador }}</p>
				</div>
			</div>
			{% endfor %}
		</div>
		<hr>
	</div>
	
	<div class="form-group">
		<div class="row">
			<h3>Seleccionados</h3>
			<div class="seleccionados"></div>	
		</div>
		<hr>
	</div>

	<div class="p-2 form-group">
		<button type="button" class="btn btn-primary" id="btn-etapa-3">Crear proyecto y enviar mail a los encargados</button>
	</div>
</div>